{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="Joost Vandorp" >
    <meta name="google-site-verification" content="hCgzWEOL4xbNmjEnrkp2rwchRcz0tLflfcp9o_0qz0s" />

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> 
    <link rel="apple-itouch-icon" href="{% static 'apple-touch-icon.png' %}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/sticky-footer-navbar.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <a class="navbar-brand" href="{% url 'blog:article_list' %}">home</a>
        <a class="navbar-brand pull-right" href="{% url 'contact:contact_me' %}">contact</a>
        </div>
      </div>

      <!-- Begin page content -->
      {% block content %}
      {% endblock content %}
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Powered by: 
          <a href="http://fedoraproject.org/">Fedora</a>,
          <a href="http://wiki.nginx.org/Main">nginx</a>, and
          <a href="http://uwsgi-docs.readthedocs.org/en/latest/index.html">uwsgi</a>.
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>

