{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ article }}{% endblock %}
{% block meta_description %}{{ article.meta_description }}{% endblock %}
{% block meta_keywords %}{{ article.meta_keywords}}{% endblock %}

{% block extra_head %}
  <meta name="robots" content="index,follow">
{% endblock %}


{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{{article}}</h1>
  </div>

  {% for section in sections %}
    <div class="row">
      <div class="col-md-12">
        <h4>{{section.section_header}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>{{section.article_section|safe}}</p>
      </div>
    </div>
  {% endfor %}				
</div>
{% endblock %}


